body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    width: 10px; /* Passt die Breite des Logos an */
    height: auto; /* Hält das Seitenverhältnis des Logos bei */
}
