/* style.css */


header {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo {
    width: 100px;
    height: auto;
}

header h1 {
    font-family: "Playwrite SK", cursive;
    font-size: 2em;
    margin: 0; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px; 
}

.Head1 {
    font-family: "Playwrite SK", cursive;
    font-size: 40px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 20px; 
}
.content-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 20px;
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    font-family: "Playwrite ES Deco", cursive;
}

.Text1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #0056b3;
}

.ProductBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
}

.Product {
    width: 22%; /* Adjust width to fit 4 products per row */
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #ccc; /* Adding a frame */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the frame */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s; /* add a transition effect */
    background-color: #f7f7f7; /* grey background */
}

.Product:hover {

  transform: scale(1.1); /* increase the size by 10% */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add a subtle shadow effect */

}

.Product img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px; /* Rounded corners for images */
}

.button-container1 {
    margin-top: 20px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-details {
    margin-top: 20px;
}

.product-details h2 {
    font-size: 1.5em;
    color: #333;
}

.product-description {
    color: #555;
    margin: 10px 0;
}

.product-price {
    color: #e91e63;
    font-size: 1.5em;
    margin: 10px 0;
}

.buy-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #0056b3;
}

.product2 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    margin-top: 20px;
    
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: #fff;
    font-size: 14px;
}

.impressum-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

.impressum h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
}

.impressum p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

.company-info {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center; /* Zentriert den Text horizontal */
}

.topnav a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px 12px; /* Anpassung der Polsterung */
    font-size: 16px; /* Anpassung der Schriftgröße */
    display: inline-block; /* Stellt sicher, dass die Links inline-block sind */
    line-height: 40px; /* Zentriert den Text vertikal innerhalb der Höhe der Navigationsleiste */
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.content-box-news1  {  
background-color: #f0f0f0;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
width: 80%;
margin-top: 20px;
text-align: center;
display: flex;
justify-content: center;
margin: 20px auto;
transition: transform 0.3s;
}

css
.subtitle {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1;
  font-weight: bold;
  font-size: 18px;
  background-color: #fff; /* add a white background */
  padding: 5px 10px; /* add some padding around the text */
  border: 1px solid #ddd; /* add a light gray border */
  border-radius: 5px; /* add a slight rounded corner */
}

.TextNews1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    justify-content: bottom;
}

.counter-box {
    background-color: #fff; /* white background */
    border: 1px solid #ddd; /* light gray border */
    padding: 10px 20px; /* some padding */
    border-radius: 10px; /* rounded corners */
    display: inline-block; /* make it an inline block */
    font-size: 24px; /* larger font size */
    font-weight: bold; /* bold font */
    text-align: center; /* center the text */
    display: flex; /* add this to make the container a flex container */
    flex-direction: column; /* stack elements vertically */
  
  }
  
  
  .counter {
    font-size: 36px; /* even larger font size for the counter */
    color: #1ec039;
  
  }    
  
  .label-costumers {
    font-size: 18px; /* smaller font size for the label */
    color: #666; /* gray color for the label */
    font-family: "IBM Plex Mono", monospace;
    text-align: center; /* center the text horizontally */
  
  }

  body {
  background-image: url('images/castle.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

input[type="email"], input[type="text"] {
    padding: 10px;
    margin-bottom: 20px

}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


button[type="submit"]:hover {
    background-color: #3e8e41;

}


#response {
    margin-top: 20px;
    font-size: 18px;
    color: #666;

}

form {

    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  
  
  label {
  
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  
  }
  
  input[type="text"],
  input[type="email"],
  input[type="url"],
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  
  }
  
  
  input[type="radio"] {
    margin-right: 5px;
  
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
  background-color: #0056b3;
  
  }

  .order_placed {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
 
.Order_Text_1 {
 font-family: "Playwrite ES Deco", cursive;
 font-size: 25px;
 }

 .Order_Text_2 {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.content-box-news1:hover {
    transform: scale(1.2); /* increase the size by 20% */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add a subtle shadow effect */
  }

  .faq {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.faq-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: calc(33.33% - 40px);
    transition: all 0.3s ease-in-out;
}

.faq-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.faq-box h2 {
    font-weight: bold;
    margin-top: 0;
}

.faq-box p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .faq-box {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .faq-box {
        width: 100%;
    }
}

.faq_header {
    text-align: center;
}

.abt_us-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: calc(33.33% - 40px);
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    font-family: "IBM Plex Mono", monospace;
    width: calc(33.33% - 40px);
    transition: all 0.3s ease-in-out;
}

.abt_us-titel {
    font-family: "Playwrite ES Deco", cursive;
    font-size: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: calc(33.33% - 40px);
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    }

    .abt_us-box {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }