/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo {
    width: 100px;
    height: auto;
}

header h1 {
    font-family: "Playwrite SK", cursive;
    font-size: 2em;
    margin: 0; /* Entfernt den Standardabstand des h1-Tags */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px; 
}

.Head1 {
    color: #2209af;
    font-family: "Playwrite ES Deco", cursive;
    font-size: 40px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 20px; /* Abstand nach unten */
}

.content-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 20px;
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    font-family: "Playwrite ES Deco", cursive;
}

.Text1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #0056b3;
}
